smart bill board using ibm watson/smart bill board nodered flow.txt
[{"id":"a8a613b3.221da","type":"tab","label":"smart bill board using ibm watson","disabled":false,"info":""},{"id":"f2d06fcd.6deec","type":"ui_button","z":"a8a613b3.221da","name":"","group":"a54ab88c.bf8918","order":9,"width":0,"height":0,"passthru":false,"label":"hi","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"","x":180,"y":240,"wires":[["d45e7c8.b30188","d7ff87cc.c4e908"]]},{"id":"a9f8c10c.303c3","type":"ui_button","z":"a8a613b3.221da","name":"","group":"a54ab88c.bf8918","order":10,"width":0,"height":0,"passthru":false,"label":"hlo","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"","x":180,"y":360,"wires":[["d45e7c8.b30188","d7ff87cc.c4e908"]]},{"id":"d45e7c8.b30188","type":"ibmiot out","z":"a8a613b3.221da","authentication":"apiKey","apiKey":"8dc34fb4.53a5a","outputType":"cmd","deviceId":"shirisha7445","deviceType":"shirisha","eventCommandType":"home","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":420,"y":260,"wires":[]},{"id":"d7ff87cc.c4e908","type":"debug","z":"a8a613b3.221da","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":220,"wires":[]},{"id":"d8327426.a460b8","type":"http in","z":"a8a613b3.221da","name":"","url":"/receive","method":"get","upload":false,"swaggerDoc":"","x":160,"y":440,"wires":[["712305e5.ba3dec"]]},{"id":"712305e5.ba3dec","type":"function","z":"a8a613b3.221da","name":"command mode","func":"msg.payload = msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":440,"wires":[["51746bb2.d62184","d45e7c8.b30188","d7ff87cc.c4e908"]]},{"id":"51746bb2.d62184","type":"http response","z":"a8a613b3.221da","name":"response","statusCode":"","headers":{},"x":640,"y":440,"wires":[]},{"id":"a54ab88c.bf8918","type":"ui_group","z":"","name":"siri","tab":"97ba0493.33a598","disp":true,"width":"6","collapse":false},{"id":"8dc34fb4.53a5a","type":"ibmiot","z":"","name":"shirisha","keepalive":"60","serverName":"pea9ef.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"97ba0493.33a598","type":"ui_tab","z":"","name":"siri","icon":"dashboard","disabled":false,"hidden":false}]